<div class="navbar" *ngIf="router.url !== '/'">
    <button mat-raised-button (click)="navigateToGame('slots')">Slots</button>
    <button mat-raised-button (click)="navigateToGame('beancan')"> Beancan</button>
    <button mat-raised-button (click)="navigateToGame('blackjack')">Blackjack</button>
    <button mat-raised-button (click)="navigateToGame('roulette')">Roulette</button>
    <!--<button mat-raised-button (click)="openLoginDialog()">Login</button>-->
    <button mat-raised-button (click)="openUserDialog()">User</button>
    <button mat-raised-button (click)="signOut()">Log out</button>
    <div>
         <p style="color: white; font-size: 20px;">Wallet:{{wallet}}€</p>
    </div>
</div>
<router-outlet></router-outlet>



<div class="background-layer">
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
  </div>


<div class="background-layer">
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
    <div class="bolt"></div>
</div>