


<div class="menu-container" >
 
    <div class="Karta" (click)="navigateToGame('slots')">
      <div class="game-overlay">
        <h2>Slots</h2>
        <div class="title-line"></div>
      </div>
      <img src="Slots.png" alt="Slots" />
    </div>

    <div class="Karta" (click)="navigateToGame('beancan')">
      <div class="game-overlay">
        <h2>Plinko</h2>
        <div class="title-line"></div>
      </div>
      <img src="256.png" alt="Plinko" />
    </div>

    <div class="Karta" (click)="navigateToGame('blackjack')">
      <div class="game-overlay">
        <h2>blackjack</h2>
        <div class="title-line"></div>
      </div>
      <img src="VDV.jpg" alt="Idk" />
    </div>

  </div>
  