<div *ngIf="!loading && userData && userData.length > 0">
  <div>
    <h2 style="color: white;">User Profile</h2>
    <div>
      <p style="color: white;"><strong>Username:</strong> {{ userData[0].userName }}</p>
      <p  style="color: white;"><strong>First Name:</strong> {{ userData[0].firstName }}</p>
      <p style="color: white;"><strong>Last Name:</strong> {{ userData[0].lastName }}</p>
      <p style="color: white;"><strong>ID Number:</strong> {{ userData[0].idNumber }}</p>
      <p style="color: white;"><strong>Email:</strong> {{ userData[0].email }}</p>
      <p style="color: white;"><strong>Wallet Balance:</strong> {{ userData[0].wallet.toFixed(2) }}€</p>
    </div>
    <div>
      <button mat-raised-button (click)="addToWallet()">Add 10€</button>
      <button mat-raised-button (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <p style="color: white;">Loading user data...</p>
</div>
