
<div *ngIf = 'this.authService.firebaseAccountKey != "{}" else notSignedIn'>
<div class="number-column">
  <div class="backgroundSlots">
   <div class="number-display-container">

    <div class="wing left-wing">
      <img src="leftwing.png" alt="Left Wing" />
    </div>

    <div class="slot-window">
      <div class="slot-reel" #reel1>
        <div *ngFor="let fruit of fruitsList" class="slot-number">
          <img [src]="fruit.imgPath" [alt]="'Fruit ' + fruit.id" />
        </div>
      </div>
    </div>
    <div class="slot-window">
      <div class="slot-reel" #reel2>
        <div *ngFor="let fruit of fruitsList" class="slot-number">
          <img [src]="fruit.imgPath" [alt]="'Fruit ' + fruit.id" />
        </div>
      </div>
    </div>
    <div class="slot-window">
      <div class="slot-reel" #reel3>
        <div *ngFor="let fruit of fruitsList" class="slot-number">
          <img [src]="fruit.imgPath" [alt]="'Fruit ' + fruit.id" />
        </div>
      </div>
    </div>

    <div class="wing right-wing">
      <img src="rightwing.png" alt="Right Wing" />
    </div>
  </div>

  <p style="text-align: center;">{{ youWon }}</p>

  <div class="input-button-container">
    <mat-form-field>
      <input matInput type="number" placeholder="Bet" />
    </mat-form-field>
    <button (click)="spin()" mat-raised-button color="primary" [disabled]="disableButton">Spin</button>
  </div>

  <br /><br />
  <p>Winning conditions:</p>
  <p>Small win = At least one 0 in columns</p>
  <p>Mid win = All numbers (except 8, 0) are same in columns</p>
  <p>Big win = 8-8-8</p>
  <button (click)="seeKey()">key</button>
</div>
</div>
</div>


<ng-template #notSignedIn>
  <p>Not signed in</p>
  <button (click)="openLoginDialog()">Sing In</button>
</ng-template>>
