<div class="bomb-row">
  <div class="bomb-container" #bombElement>
    <img class="bomb" src="bomb.png" *ngIf="!isExploded" alt="Bomb">
    <img class="exploded-bomb" src="bomb blow.png" *ngIf="isExploded" alt="Exploded Bomb">
  </div>
  <div style=" gap: 10px; width: 350px; height: 350px;">
    <div style="display: flex; align-items: center; gap: 10px;;">
      <mat-slider min="0" max="100" step="1">
        <input matSliderThumb [(ngModel)]="userInput">
      </mat-slider>
     <!-- <mat-checkbox [(ngModel)]="isReverse">
        Reverse
      </mat-checkbox>-->
      <div style="display: flex; align-items: center; gap: 15px;">
        <p>Bet is 0.5€</p>
        <p>Profit on Win: {{this.mathOfWinningBet(this.bet)}}</p>
        <div *ngIf="generatedNumber !== null">
          <p>Generated Number:{{ showNumber }}</p>
          <p>Result:{{ resultMessage }}</p>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="generateRandomNumber()" [disabled]="isAnimating">
        {{ isAnimating ? 'Rolling...' : 'Roll' }}
      </button>
    </div>
  </div>
</div>