

<div class="gameField">
     <p>{{leftResult}}</p>
    <p>{{ gameResult }}</p>
    <p>Bet is 0.5 €</p>
    <div class="dealer">
        <h2>Dealer:</h2>
        <p>{{calculateHandValue(dealersHand)}}</p>
        <div class="cards">
            <div *ngFor="let card of dealersHand" class="card">
                <div *ngIf="!getCardSymbol(card).includes('.png')">
                    <div class="topSymbol">
                        {{ getCardSymbol(card)}}
                    </div>
                    <div class="valueOfCard">
                        {{getCardValue(card)}}
                    </div>
                    <div  class="botSymbol">
                        {{getCardSymbol(card)}}
                    </div>
                </div>
                <div *ngIf="getCardSymbol(card).includes('.png')">
                    <img src="backOfCard.png" alt="Card" style="width:80px ; height:140px ;" />
                </div>
            </div>
        </div>
    </div>

    <div class="player">
        <h2>Player:</h2>
        <p *ngIf="splited == false">{{calculateHandValue(playersHand)}}</p>
        <div class="cards" *ngIf="splited == false">
         <div *ngFor="let card of playersHand" class="card">
                 <div *ngIf="!getCardSymbol(card).includes('.png')">
                    <div class="topSymbol">
                        {{ getCardSymbol(card)}}
                    </div>
                    <div class="valueOfCard">
                        {{getCardValue(card)}}
                    </div>
                    <div class="botSymbol">
                        {{getCardSymbol(card)}}
                    </div>
                 </div>
            </div>
        </div>
        <div *ngIf="splited == true">
            <p *ngIf="splited == true">{{calculateHandValue(leftSplit)}}</p>
            <div class="split">
                <div class="hand">
                    <p *ngIf="leftHand == true">-></p>
                    <div class="cards">
                        <div *ngFor="let card of leftSplit" class="card">
                    <div  class="topSymbol">
                        {{ getCardSymbol(card)}}
                    </div>
                    <div class="valueOfCard">
                        {{getCardValue(card)}}
                    </div>
                    <div class="botSymbol">
                        {{getCardSymbol(card)}}
                    </div>
                        </div>
                    </div>
                </div>
                <p *ngIf="splited == true">{{calculateHandValue(rightSplit)}}</p>
                <div class="hand">
                    <p *ngIf="leftHand == false">-></p>
                    <div class="cards">
                        <div *ngFor="let card of rightSplit" class="card">
                            <div class="topSymbol">
                                {{ getCardSymbol(card)}}
                            </div>
                            <div class="valueOfCard">
                                {{getCardValue(card)}}
                            </div>
                            <div class="botSymbol">
                                {{getCardSymbol(card)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <!--<mat-form-field>
            <input matInput type="number" placeholder="Bet" [disabled]="startDisable" />
          </mat-form-field>-->
        <button mat-raised-button (click)="startGame()" [disabled]="startDisable">Start</button>
        <button mat-raised-button (click)="hit()" [disabled]="hitStandDisable">Hit</button>
        <button mat-raised-button (click)="stand()" [disabled]="hitStandDisable">Stand</button>
        <button mat-raised-button (click)="split()" [disabled]="splitAble">Split</button>
       <mat-checkbox [(ngModel)]="splitPrototype"   [disabled]="startDisable">Split Prototype</mat-checkbox>
        </div>
</div>

