<button mat-raised-button color="primary" (click)="navigateToGame('')">Home</button>


<div class="gameField">
    <div class="dealer">
        <h2>Dealer:</h2>
        <p>{{calculateHandValue(dealersHand)}}</p>
        <div class="cards">
         <div *ngFor="let card of dealersHand" class="card">
            {{ card }}
         </div>
        </div>
    </div>

    <div class="player">
        <h2>Player:</h2>
        <p>{{calculateHandValue(playersHand)}}</p>
        <div class="cards">
         <div *ngFor="let card of playersHand" class="card">
            {{ card }}
         </div>
        </div>
    </div>

    <div class="actions">
        <mat-form-field>
            <input matInput type="number" placeholder="Bet" [disabled]="startDisable" />
          </mat-form-field>
        <button mat-raised-button (click)="startGame()" [disabled]="startDisable">Start</button>
        <button mat-raised-button (click)="hit()" [disabled]="hitStandDisable">Hit</button>
        <button mat-raised-button (click)="stand()" [disabled]="hitStandDisable">Stand</button>
        <button mat-raised-button (click)="split()" [disabled]="splitAble">Split</button>
    </div>

    <p>{{ gameResult }}</p>

</div>

