<h2 mat-dialog-title>Login</h2>
<br>
<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin();">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" 
              [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
    <p>Dont have account yet? <button (click)="openRegisterDialog()" mat-raised-button>Register</button></p>
  </form>
</mat-dialog-content>